# 사용법: cp .env.example .env

# 백엔드 API URL
API_BASE_URL=http://localhost:8080

# WebSocket URL
WS_URL=ws://localhost:8080/ws

# Mock API 사용 (true: Mock 데이터, false: 실제 API)
USE_MOCK_API=true


# Google OAuth 클라이언트 ID 및 시크릿 키
GOOGLE_IOS_CLIENT_ID=asdhakdjk~~

GOOGLE_WEB_CLIENT_ID=asdjlkasjdkla~~
GOOGLE_WEB_CLIENT_SECRET=askjdklajkdal~~

# Map SDK Keys
NAVER_MAP_CLIENT_ID=YOUR_NAVER_MAP_CLIENT_ID_HERE

# Google Maps Cloud Map ID (도둑 팀 지도 스타일)
GOOGLE_MAPS_ROBBER_MAP_ID=YOUR_GOOGLE_MAPS_ROBBER_MAP_ID_HERE
