# 사용법: cp .env.example .env

# 백엔드 API URL
API_BASE_URL=http://localhost:8080

# WebSocket URL
WS_URL=ws://localhost:8080/ws

NAVER_MAP_CLIENT_ID=YOUR_NAVER_MAP_CLIENT_ID_HERE
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE